.portfolio {
    max-width: 1280px;
    padding: 0 70px 0 70px;
}

.portfolio__title {
    margin: 0;
    color: #8B8B8B;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
}

.portfolio__list {
    list-style: none;
    margin: 0;
    padding: 30px 0 105px 0;
}

.portfolio__link {
    text-decoration: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #424242;
    transition: opacity 0.4s ease-out;
}

.portfolio__link:hover {
    opacity: 0.7;
}

.portfolio__list li:last-child .portfolio__link {
    border-bottom: none;
}

/* .portfolio__list li:last-child .portfolio__text{
    padding-bottom: 0;
} */


.portfolio__text {
    margin: 0;
    padding: 20px 0 19px 0;
    color: #FFF;
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -1.2px;
}

.portfolio__icon {
    margin: 0;
    width: 29px;
    height: 60px;
    align-self: end;
    background-image: url(../../images/icon-portfolio.svg);
    background-repeat: no-repeat;
    outline: none;
    border: 0;
    background-size: contain;
}

@media screen and (max-width: 768px) {
    .portfolio {
        padding: 0 50px 0 50px;
    }

    .portfolio__text {
        font-size: 28px;
        letter-spacing: -1.12px;
    }

    .portfolio__link {
        border-bottom: 1px solid #E6E6E6;
    }

    .portfolio__icon {
        width: 27px;
    }

    .portfolio__list {
        padding: 30px 0 70px 0;
    }
}

@media screen and (max-width: 450px) {
    .portfolio {
        padding: 0 14px 0 14px;
    }

    .portfolio__title {
        font-size: 14px;
    }

    .portfolio__text {
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.72px;
    }

    .portfolio__list {
        padding: 20px 0 50px 0;
    }

    .portfolio__icon {
        width: 18px;
        height: 28px;
        align-self: center;
    }
}