.promo {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 102px;
    background-color: #073042;
    padding: 0 70px 0 70px;
    margin: 0;
    box-sizing: border-box;
}

.promo__title {
    box-sizing: border-box;
    max-width: 626px;
    height: 104px;
    margin: 68px 0 0 0;
    padding: 0;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: -1.6px;
}

.promo__image {
    width: 722px;
    height: 244px;
    margin: 0 0 60px 0;
    padding: 0;
    background-image: url(../../images/image1.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    outline: none;
    border: 0;
    align-self: flex-end;
    box-sizing: border-box;
}

@media screen and (max-width: 800px) {
    .promo {
        align-items: center;
        row-gap: 140px;
        padding: 0 44px 0 44px;
    }

    .promo__title {
        max-width: 680px;
        height: 104px;
        margin: 300px 0 0 0;
        text-align: center;
    }

    .promo__image {
        margin: 0 0 70px 0;
        width: 680px;
        height: 230px;
        align-self: center;
    }

}

@media screen and (max-width: 700px) {
    .promo {
        padding: 0 10px 0 10px;
        row-gap: 60px;
    }

    .promo__title {
        max-width: 300px;
        height: 117px;
        margin-top: 183px;
        font-size: 31px;
        line-height: 39px;
        letter-spacing: -1.24px;
    }

    .promo__image {
        margin: 0 0 40px 0;
        width: 320px;
        height: 230px;
        background-image: url(../../images/promo_320.svg);
    }

}