.search-form {
    padding: 70px 70px 48px 70px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.search-form__form {
    margin: 0;
    padding: 0 0 13px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #424242;
    transition: border-bottom 0.4s ease-out;
}

.search-form__form:hover {
    border-bottom: 1px solid #aaa9a9;
}

.search-form__input {
    padding: 0;
    width: 90%;
    max-height: 34px;
    border: none;
    outline: none;
    color: #8B8B8B;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: transparent;
}

.search-form__button {
    width: 59px;
    height: 34px;
    padding: 0;
    cursor: pointer;
    border: none;
    text-decoration: none;
    background-repeat: no-repeat;
    outline: none;
    background-color: #4285F4;
    border-radius: 48px;
    color: #FFF;
    text-align: center;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    transition: opacity 0.4s ease-out;
}

.search-form__button:hover {
    opacity: 0.7;
}

.search-form__error {
    margin: 10px 0 0 0;
    width: 80%;
    min-height: 12px;
    color: #EE3465;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media screen and (max-width: 768px) {
    .search-form {
        padding: 80px 30px 61px 30px;
    }
}

@media screen and (max-width:450px) {
    .search-form {
        padding: 90px 14px 51px 14px;
        flex-wrap: wrap;
    }

    .search-form__input {
        font-size: 18px;
        max-width: 70%;
    }
}