.auth__form-error_log {
    text-align: center;
    font-size: 15px;
    min-height: 18px;
    margin: 79px 0 60px 0;
}

@media screen and (max-width: 450px) {
    .auth__form-error_log {
        font-size: 10px;
        margin: 104px 0 123px 0;
    }
}